#no-mobile {
  position: absolute;
  z-index: 100;
  height: 100vh;
  background-color: var(--cacaoyellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 30px;
}
/* display: flex;
  top: 0; 
  It's cover */
@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
