@charset "utf-8";

a:focus, button:focus,.dropdown-toggle:focus{outline: 1px dotted #000;}

.layout{position:relative;margin:0 auto;width:100%;max-width: 1740px;}
.layout:after {display:block;visibility:hidden;clear:both;content:""}
#top_layout{display:block;position: relative;z-index: 100;width:100%;height: 121px;text-align:center;}
#top_layout .top_wrap{position:absolute;top: 0;left:0;right:0;width:100%;height: 100%;max-width: 1740px;}
#top_layout .top_wrap .utile_wrap{overflow: visible;position: absolute;top: 55px;right: 40px;bottom:auto;display:block;float:none;z-index: 998;}
#top_layout .top_wrap .utile_wrap > li{display:inline-block;float:left;position:relative;}
#top_layout .top_wrap .utile_wrap > li.search.on a{}
#top_layout .top_wrap .utile_wrap li > a,#top_layout .top_wrap .utile_wrap li > button{display:block;height:100%;width: 100%;padding: 0 15px;font-size: 15px;color: #57554b;line-height: 1.2;}
#top_layout .top_wrap .utile_wrap li > a:after{display:inline-block;height:100%;vertical-align:middle;content:'';}
#top_layout .top_wrap .utile_wrap li > button:before{position:absolute;left:0;top:17%;width:1px;height:11px;background:#696d71;content:'';transform:translateY(-50%);}
#top_layout .top_wrap .utile_wrap li:first-child > button:before{display:none;}
#top_layout .top_wrap .utile_wrap li.lan button{padding-right:26px;}
#top_layout .top_wrap .utile_wrap li.lan button:after{position: absolute;right: 11px;top: 7px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 7px solid #696d71;transform: rotate(180deg);content: '';}
#top_layout .top_wrap .utile_wrap li.lan.dropdown:before{display:none;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown.open{z-index:999}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul{position:absolute;top:35px;left:0;width: 100%;min-width:auto;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li{display:block;padding:5px 0;border-top:1px solid #dadada;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li:first-child{border-top:none;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li a{font-size:15px;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li a{padding: 3px 13px 3px;text-align: left;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li a *{vertical-align: middle;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li a:before{content:'';display:inline-block;width:20px;position: relative;height:15px;background:url(/template/A/images/ir-language.png) no-repeat;top: 4px;margin-right: 4px;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li.ko a:before{background-position:0 0;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li.en a:before{background-position:-20px 0;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li.jp a:before{background-position:-40px 0;}
#top_layout .top_wrap .utile_wrap li.lan.dropdown ul li.cn a:before{background-position:-60px 0;}
#top_layout .top_wrap .utile_wrap li.search button:after{display:inline-block;width:14px;height:14px;margin-left: 14px;background:url(/template/A/images/common_ir.png) -411px 0;content:'';vertical-align:middle;}
#top_layout .top_wrap .utile_wrap li.search > a{position: relative;}
#top_layout .top_wrap .utile_wrap li.search > a:before{position: absolute;right:-5px;top:2px;display: inline-block;width:15px;height:15px;background: url(/template/A/images/common_ir.png) -411px 0;content: '';}
#top_layout .top_wrap .utile_wrap li.search #search_box{display: none;position: absolute;left: auto;top: -13px;right: -5px;padding:0;border:0;background:none;box-shadow: none;}
#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap{position: relative;width: 300px;border: 1px solid #97999c;box-sizing: border-box;}
#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap input[type="text"]{display:block;width: 100%;height: 41px;padding: 0 0 0 15px;border: 1px solid #97999c;box-sizing: border-box;color: #57554b;}
#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap .submit{position:absolute;top: 13px;right: 15px;font-size: 0;text-indent: -9999px;}
#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap .submit input[type="submit"],
#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap .submit input[type="button"]{display: block;width:14px;height:14px;margin-left: 14px;background:url(/template/A/images/common_ir.png) -411px 0;content:'';vertical-align:middle;}
#top_layout .top_wrap .utile_wrap > li.search a.clickClose{display:none;position: absolute;right: -27px;top: 5px;width: 14px;height: 14px;padding: 0;background:none;font-size:0;}
#top_layout .top_wrap .utile_wrap > li.search.on a.clickClose{display:block;}
#top_layout .top_wrap .utile_wrap > li.search a.clickClose:before,
#top_layout .top_wrap .utile_wrap > li.search a.clickClose:after {display:block;content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;transform:rotate(45deg)}
#top_layout .top_wrap .utile_wrap > li.search a.clickClose:before {width: 100%;height: 2px;background: #97999c;}
#top_layout .top_wrap .utile_wrap > li.search a.clickClose:after {width: 2px;height: 100%;background: #97999c;}

#top_layout .top_wrap .utile_wrap li.box.pc{position:absolute;right: -89px;width: 28px;height: 25px;top:-5px;}
#top_layout .top_wrap .utile_wrap li.box.pc > a{background: url(/template/A/images/common_ir.png) -381px 0;}
#top_layout .top_wrap .utile_wrap li.box.pc .allmenu{display: none;}
#top_layout .top_wrap .utile_wrap li.box.mo{display: none;}
#top_layout .top_wrap .utile_wrap li.box:before{display: none;}
#top_layout .top_wrap #logo{display: block;float:left;position:relative;top: 42px;z-index:999;width: 189px;height: 39px;}
#top_layout .top_wrap #logo a{display: block;width: 100%;height: 100%;background: url(/template/A/images/common_ir.png);font-size: 0;}

#top_layout .top_wrap .lan.dropdown {padding-bottom:35px;}
#top_layout .top_wrap .utile_wrap li .lan.dropdown , #top_layout .top_wrap .utile_wrap li .search.clickOpen {padding-top: 5px;}

@media (max-width: 1819px){
	.layout{width: 100%;padding: 0 40px;}

	#top_layout{z-index: 1041;height: 101px;box-sizing:border-box;}
	#top_layout .top_wrap{max-width:100%;width: 100%}
	#top_layout .top_wrap #logo{top:35px}
	#top_layout .top_wrap .utile_wrap{top:39px}
	#top_layout .top_wrap .utile_wrap li.lan,#top_layout .top_wrap .utile_wrap li.home{margin-top: 7px;}
	#top_layout .top_wrap .utile_wrap > li.search{display:block;margin: 0 15px 0 0px;}
	#top_layout .top_wrap .utile_wrap > li.search button,
	#top_layout .top_wrap .utile_wrap > li.search a{width:28px;height:28px;padding: 0;background:url(/template/A/images/common_ir.png) -663px -1px;font-size:0;}
	#top_layout .top_wrap .utile_wrap li.search > a:before{display: none;}
	#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap{width: 250px;}
	#top_layout .top_wrap .utile_wrap > li.search button:after,
	#top_layout .top_wrap .utile_wrap > li.search a:after{display:none;}
	#top_layout .top_wrap .utile_wrap li > button:before,
	#top_layout .top_wrap .utile_wrap li > a:before{display:none;}

	#top_layout .top_wrap .utile_wrap li.box.pc{display:block;position: relative;right:0;top:0;}
	#top_layout .top_wrap .utile_wrap li > a, #top_layout .top_wrap .utile_wrap li > button {padding:0 5px; font-size:14px;}
	
	#top_layout .top_wrap .utile_wrap > li.search {margin-right:60px;}
	#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap {width: 200px;}
	#top_layout .top_wrap .utile_wrap li.search #search_box {top:-8px;}
}
@media (max-width: 1199px){
	.layout{padding: 0 30px;}

	#top_layout{height: 71px;}
	#top_layout .top_wrap{top: 0;height: 75px;}
	#top_layout .top_wrap #logo{top: 20px;float: none;margin: 0px 0;}
	#top_utilwrap{display: none;}
	#top_layout .top_wrap .utile_wrap{top: 27px;left: auto;right: 30px;z-index: 999;height: 45px;}
	#top_layout .top_wrap .utile_wrap > li{display:none;}
	#top_layout .top_wrap .utile_wrap li{position:absolute;right:0;}
	#top_layout .top_wrap .utile_wrap > li.search{margin-right: 75px;}
	#top_layout .top_wrap .utile_wrap li.box{float: none;width: 27px;height: 25px;margin:-25px 0 0;}
	#top_layout .top_wrap .utile_wrap li.box.pc{display: none;}
	#top_layout .top_wrap .utile_wrap li.box.mo{display: block;margin: 0;padding: 0;}
	#top_layout .top_wrap .utile_wrap li.box.mo button{display:inline-block;width:100%;height:100%;background: url(/template/A/images/common_ir.png) -381px 0;vertical-align:top;font-size: 14px;color:#fff;line-height: 38px;text-align: left;}
}
@media (max-width: 767px){
	.layout{padding: 0 18px;}

	#top_layout .top_wrap{height: 100%;}
	#top_layout .top_wrap #logo{width: 190px;height: 31px;margin-top: 0;}
	#top_layout .utile_wrap li.pc{display:none}
	#top_layout .utile_wrap li.mo{display:inline-block}
	#top_layout .top_wrap .utile_wrap{right: 15px;}
	#top_layout .top_wrap .utile_wrap > li.search{margin-right:53px;}
	#top_layout .top_wrap .utile_wrap li.search.on a{display:none;}
	#top_layout .top_wrap .utile_wrap li.search #search_box{right:10px}
	#top_layout .top_wrap .utile_wrap li.search #search_box .input_wrap{width: 230px;}
	#top_layout .top_wrap .utile_wrap > li.search.on a.clickClose{right:-15px}
	#top_layout .top_wrap .utile_wrap li.search #search_box form,
	#top_layout .top_wrap .utile_wrap li.search #search_box input{outline:0;border: 0;border-radius:0;}
	#top_layout .top_wrap .utile_wrap li.box.mo button{width: 100%;height: 100%;padding: 0;}
	#body_layout #txt{margin-bottom: 20px;}
	
}
.gnb_bg.no_open{display: none !important;}
#gnb_layout.no_open{height: 80px !important;}
.gnb_bg{display: none;position: fixed;top: 132px;left: 0;z-index: 11;width: 100%;height: 100%;background: #000;opacity: 0.4;content:'';transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;}
#top_layout.open + .gnb_bg{display: block;}
#gnb_layout{display: block;overflow:hidden;position:absolute;top: 0;left: 0;width: 100%;height: 121px;background-color: transparent;transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;}
#gnb_layout:after{top:111px}
#gnb_layout.open:after{position: absolute;top: 120px;bottom: 0;right:0;width: 100%;height:auto;background: #fff;border-top: 1px solid #dedede;content:"";}
#gnb {position: absolute;top:0px;left: 0;right: 0;width: 100%;height: 121px;z-index:2;}
#gnb_layout.open #gnb{border-bottom:1px solid #d9d9d9;}
#gnb_layout.open #gnb .gnb_wrap:before{position:absolute;top: 121px;left: -43%;right: 51%;bottom: 0;height: 525px;margin-right: 524px;border-right: 1px solid #ddd;background: url(/template/A/images/gnb_bg1.png);content:'';}
#gnb_layout.action{position:relative;background-color:#fff;}
#gnb_layout .layout{position:relative;max-width: 1170px;/* height: 100%; */}
#gnb_layout .depth1_ul{display:inline-block;height: 100%;float: none;z-index:14;}
#gnb_layout .depth1_ul:after {display: block; content: ''; clear: both;}
#gnb_layout .depth1_ul>li{display:inline-block;float:left;margin:0 0px;vertical-align:top;}
#gnb_layout .depth1_ul>li.n7,#gnb_layout .depth1_ul>li.n9{display:none;}
#gnb_layout .depth1_ul>li>a{position:relative;display:block;height:100%;padding: 0 45px 0;line-height: 121px;font-size: 19px;color: #484A4C;font-weight:700;letter-spacing:0;transition: all .3s;text-align:center;}
#gnb_layout > ul > li.on > a,
#gnb_layout .depth1_ul>li>a.current{color:#125fac;}
#gnb_layout .depth1_ul>li>a.current + .item{opacity: 1 !important;display: block;}
#gnb_layout .depth1_ul>li>a span{display: inline-block;height: 100%;line-height: 76px;vertical-align: middle;letter-spacing: -1px;}
#gnb_layout .depth1_ul>li>a:hover span,#gnb_layout .depth1_ul>li>a:focus span,#gnb_layout .depth1_ul>li.on>a span{color: #cd3613;}
#gnb_layout .depth1_ul>li .item{height: 500px;}
#gnb_layout .depth1_ul > li .item .gnb-title{position:absolute;top:117px;left: -208px;height: 425px;width: 256px;padding: 0 20px 0 0;text-align: left;}
#gnb_layout .depth1_ul > li .item .gnb-title:before{position: absolute;bottom: 0;right:0;width: 280px;height: 102px;background: url(/template/A/images/gnb_bg2.png);content: '';}
#gnb_layout .depth1_ul > li .item .gnb-title strong{display: block;position: relative;margin-top: 70px;padding-bottom: 20px;color: #3a5063;font-size: 24px;line-height: 24px;font-weight: bold;z-index:1;}
#gnb_layout .depth1_ul > li .item .gnb-title strong:before{position: absolute;left: 0;bottom: 5px;width: 24px;height: 2px;background: rgba(255,255,255,0.4);content: '';}
#gnb_layout .depth1_ul > li .item .gnb-title p{position:relative;font-size: 14px;margin: 0;line-height: 20px;color: #333;z-index:1;}
#gnb_layout .depth1_ul > li  .depth2_ul {position: relative;top: 0;opacity: 0;transform: translateX(50px);border-left:0}
#gnb_layout .depth1_ul > li  .depth2_ul > li {margin: 0px 0 20px;padding: 0 10px;line-height: 18px;text-align: center;letter-spacing: -0.1em;}
#gnb_layout .depth1_ul > li  .depth2_ul > li:first-child {padding-top: 10px;}
#gnb_layout .depth1_ul > li  .depth2_ul > li > a {display: inline-block;position: relative;font-weight: 700;font-size: 15px;line-height: 18px;color: #484a50;transition: all .3s;vertical-align: top;}
#gnb_layout .depth1_ul > li  .depth2_ul > li > a:hover,
#gnb_layout .depth1_ul > li  .depth2_ul > li > a:focus{border-bottom:3px solid #fff;font-weight: bold;}
#gnb_layout .depth1_ul > li  .depth2_ul > li > a span{font-size: 14px;line-height: 24px;color: #6c6d6f}
#gnb_layout .depth1_ul > li  .depth2_ul > li > .depth3_ul{display:none;}
#gnb_layout.open{height: 550px !important;}
#gnb_layout.open .title_wrap{display: inline-block;}
#gnb_layout.open .depth1_ul > li .depth2_ul {border-left: 1px solid #ddd;opacity: 1;height: 400px !important;margin: 30px 0;transform: translateX(0);}
/* #gnb_layout.open .depth1_ul > li:nth-child(2) .depth2_ul {transition-delay: .03s;}
#gnb_layout.open .depth1_ul > li:nth-child(3) .depth2_ul {transition-delay: .06s;}
#gnb_layout.open .depth1_ul > li:nth-child(4) .depth2_ul {transition-delay: .09s;}
#gnb_layout.open .depth1_ul > li:nth-child(5) .depth2_ul {transition-delay: .12s;}
#gnb_layout.open .depth1_ul > li:nth-child(6) .depth2_ul {transition-delay: .15s;}
#gnb_layout.open .depth1_ul > li:nth-child(7) .depth2_ul {transition-delay: .18s;}
#gnb_layout.open .depth1_ul > li:nth-child(8) .depth2_ul {transition-delay: .21s;}
#gnb_layout.open .depth1_ul > li:nth-child(9) .depth2_ul {transition-delay: .24s;}
#gnb_layout.open .depth1_ul > li:nth-child(10) .depth2_ul {transition-delay: .27s;} */
#gnb_layout.open #gnb_layout{border-bottom:1px solid #d8e0e9;}
#gnb_layout.open .depth1_ul > li.n1 .depth2_ul,
#gnb_layout.open .depth1_ul > li.on .depth2_ul{border-left:0;}
#gnb_layout .depth1_ul>li.on .item{top: -3px;background: #3a5063;border-top: 3px solid #cd3613;}
#gnb_layout.open .depth1_ul>li.on + li .depth2_ul{border-left:0}
#gnb_layout .depth1_ul>li.on .depth2_ul > li > a{color:#fff;}

#gnb_layout .gnb_info{display:none;position:absolute;top: 121px;right: -175px;width: 225px;height: 450px;padding: 45px 20px 35px;background: #fbfbfb;border: 1px solid #ddd;border-width: 0 1px;}
#gnb_layout .gnb_info strong{display: block;margin:0 0 30px;font-size: 18px;color: #484a50;font-weight: bold;letter-spacing: -0.05em;}
#gnb_layout .gnb_info ul{letter-spacing: -0.01em;}
#gnb_layout .gnb_info ul li{position:relative;padding-left:55px;text-align: left;}
#gnb_layout .gnb_info ul li:first-child{margin:0 0 25px;padding: 0 0 25px 58px;border-bottom: 1px dashed #e5e5e5;}
#gnb_layout .gnb_info ul li:before{display:block;position:absolute;top:0;left: -5px;width: 52px;height: 52px;background: url(/template/A/images/common_ir.png) no-repeat -479px 0px;content:'';}
#gnb_layout .gnb_info ul li:first-child:before{background-position: -428px 0px;}
#gnb_layout .gnb_info ul li b{display:inline-block;font-size: 18px;font-weight:bold;line-height:1;letter-spacing: -0.05em;}
#gnb_layout .gnb_info ul li span{display:inline-block;font-size:13px;letter-spacing: -0.1em;}
#gnb_layout.open .gnb_info{display:block;}

@media screen and (max-width:1819px){ 
	#gnb_layout{height:101px;} 
	#gnb_layout:before{right: 20px;margin-right: 0} 
	#gnb{height:101px} #gnb_layout 
	.depth1_ul>li>a{padding: 0 35px;font-size: 17px;line-height:101px} 
	#gnb_layout .layout{max-width: 100%;padding: 0px 90px 0 0;} 
	#gnb_layout .depth1_ul{float:none;width: 100%;text-align:center;margin-left:72px;} 
	#gnb_layout .depth1_ul>li {float:none;}
	#gnb_layout .depth1_ul>li .item .gnb-title{left: 47.7%;width: 224px;margin-left: -648px;border:0;} 
	#gnb_layout .depth1_ul > li .item .gnb-title strong{font-size: 20px;} 
	#gnb_layout .depth1_ul > li .depth2_ul > li{padding:0 15px} 
	#gnb_layout .depth1_ul > li .depth2_ul > li > a{font-size:14px} 
	#gnb_layout.open:before{right: auto;left: 0;margin-right: 0;width: 214px;} 
	#gnb_layout.open:after{top:100px} 
	#gnb_layout.open #gnb .gnb_wrap:before{top: 101px;margin-right: 445px;} 
	#gnb_layout.open .gnb_info{right: 0;top: 101px;} 

	#top_layout .top_wrap .utile_wrap > li.search{margin-right:10px;}
}
@media screen and (max-width:1469px){ #gnb_layout .depth1_ul>li>a{padding: 0 25px;} #gnb_layout .depth1_ul>li .item .gnb-title{left: 50.7%;} #gnb_layout.open #gnb .gnb_wrap:before{margin-right: 402px;}}
@media screen and (max-width:1389px) {#gnb_layout{display:none;}}
@media screen and (max-width:1299px){ #gnb_layout .depth1_ul>li>a{padding: 0 22px;} #gnb_layout.open #gnb .gnb_wrap:before{ margin-right: 376px; } #gnb_layout .depth1_ul>li .item .gnb-title{margin-left: -577px;width:200px;}#gnb_layout.open .gnb_info{display:none;} }
@media screen and (max-width: 1199px){ 
	#gnb_layout.open #gnb .gnb_wrap:before {margin-right: 396px;}
	#top_layout .top_wrap .utile_wrap > li.search {margin-right:50px;}
}
@media (max-width:767px){ #top_layout .top_wrap #logo a{height:50px;} }

/* mobile menu */
.grid-system.modal-open{height:100%;overflow:hidden}
.modal-open #top_layout .top_wrap .utile_wrap li,
.modal-open #top_layout .top_wrap .utile_wrap li.box.mo{display: none;}
#mobile-menu{overflow: visible;/* height: 100%; */padding:0 !important;}
#mobile-menu .modal-dialog {-webkit-transform: translate(25%,0);transform: translate(25%,0);margin: 0;width: 305px;max-width: 305px;float: right;height: 100%;}
#mobile-menu.in .modal-dialog,
#mobile-menu.show .modal-dialog {-webkit-transform:translate(0px,0);transform: translate(0px,0);}
#mobile-menu .modal-dialog .modal-content .modal-body {position: static;height: 100%;padding: 0;background:#fff;}
#mobile-menu .modal-dialog .modal-content {width: 305px;border-radius: 0;border:  0 none;height: 100%;}
#mobile-menu .modal-dialog .modal-content .topUtile{height:71px;padding: 25px 15px;background:#3a5063;}
#mobile-menu .modal-dialog .modal-content .topUtile ul:after{display:block;clear:both;content:'';}
#mobile-menu .modal-dialog .modal-content .topUtile ul li{display:inline-block;float:left;position:relative;}
#mobile-menu .modal-dialog .modal-content .topUtile > ul > li > a, #mobile-menu .modal-dialog .modal-content .topUtile ul li > button{display:block;height:100%;width: 100%;padding: 0 15px;font-size: 15px;color: #fff;line-height: 1.2;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li > a:after{display:inline-block;height:100%;vertical-align:middle;content:'';}
/*#mobile-menu .modal-dialog .modal-content .topUtile ul li > button:before{position:absolute;left:0;top:50%;width:1px;height:11px;background:#fff;content:'';transform:translateY(-50%);}*/
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan button{padding-right:27px;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan button:after{position: absolute;right: 11px;top: 7px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 7px solid #fff;transform: rotate(180deg);content: '';}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown {padding-bottom:20px;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown:before{display:none;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown.open{z-index:999}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul{position:absolute;top:35px;left:0;width: 100%;min-width:auto;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li{display:block;width: 100%;padding:5px 0;border-top:1px solid #dadada;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li:first-child{border-top:none;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li a{font-size:15px;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li a{padding: 3px 13px 3px;text-align: left;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li a *{vertical-align: middle;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li a:before{content:'';display:inline-block;width:20px;position: relative;height:15px;background:url(/template/A/images/ir-language.png) no-repeat;top: 4px;margin-right: 4px;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li.ko a:before{background-position:0 0;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li.en a:before{background-position:-20px 0;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li.jp a:before{background-position:-40px 0;}
#mobile-menu .modal-dialog .modal-content .topUtile ul li.lan.dropdown ul li.cn a:before{background-position:-60px 0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul{display: inline-block;overflow-y: scroll;overflow-x: hidden;position: absolute;left: 0;right: 0;width: 100%;height:calc(100% - 71px);margin:0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul:after{display: block;visibility: hidden;clear: both;content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul.show {display:block !important;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li {float:left;width:100%;text-align:left;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a{display: block;position: relative;width: 100%;padding: 20px 10px 20px 25px;background: #fff;border-bottom: 1px solid #e5e5e5;font-size: 13px;line-height: 1.2;font-weight: bold;box-sizing: border-box;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a:before{position:absolute;top: 50%;bottom:0;right:33px;width:3px;height:17px;background:#3a5063;transform: translateY(-50%);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a:after{position:absolute;top: 50%;bottom:0;right: 26px;height: 3px;width: 17px;background:#3a5063;transform: translateY(-50%);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov:before{display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a span{font-size: 18px;vertical-align: middle;line-height: 20px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov span{}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .on .a:before { transform: translate( 0,-74%) rotate(-136deg);}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li .item{display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li .item .gnb-title{display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul {display: inline-block;width: 100%;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li {width: 100%;border-top: 1px solid #e5e5e5;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li:first-child{border:0}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li > a {display:block;position: relative;width: 100%;padding: 18px 35px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li > a.ov{background:#cd3613;color:#fff;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li > a:after{position: absolute;top: 18px;right: 27px;width:23px;height:23px;background:url(/template/A/images/lng_arr.png);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li > a.ov:after{background-position:-23px 0}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul > li > a span{font-size: 16px;color: #333;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul{display: none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li a.ov + .depth3_ul{display: block;background: #f4f4f4;padding: 10px 37px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li{padding: 10px 0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a{display: block;position: relative;padding: 2px 0 2px 10px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a:before{position:absolute;left:0;top:50%;width: 3px;height: 3px;margin-top: -1.5px;background:#76808B;border-radius:50%;content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a:hover,
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a:focus{color: #cd3613;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a:hover:before,
#mobile-menu .modal-dialog .modal-content .modal-body .depth2_ul li .depth3_ul > li > a:focus:before{background:#cd3613;}
#mobile-menu .modal-dialog .modal-content .modal-body .gnb_info{display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .mobile-close{position: absolute;right: 17px;top: 17px;width: 33px;height: 33px;border: 0;font-size: 0;text-indent: -9999px;transform: rotate(45deg);}
#mobile-menu .modal-dialog .modal-content .modal-body .mobile-close:before{position:absolute;top: 17px;right: 14px;width:3px;height: 100%;background:#fff;transform: translateY(-50%);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .mobile-close:after{position:absolute;top: 17px;bottom:0;left: 0;right: 0;height: 3px;width: 100%;background:#fff;transform: translateY(-50%);content:'';}
.modal-backdrop.in{opacity: .8}
